<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="{{url_for('static',filename='dist/js/prediction.js')}}"></script>
</head>

<body>

    <!-- Loader component -->
    <div id="loader"
        class="z-50 fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center bg-gray-800 bg-opacity-75 hidden">
        <div class="loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-64 w-64"></div>
    </div>
    <!-- End Loader component -->
    <header>
        {% block header %}{% endblock %}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <footer>
        {% block footer %}{% endblock %}
    </footer>

</body>

</html>