{% extends "base.html.j2" %}
{% block body %}
{% block header %}
{# <script src="https://cdn.tailwindcss.com"></script> #}
<div class="header object-center">
  <div> <img class="object-center" src="{{url_for('static',filename='images/logo.png')}}" width="20%"></div>

</div>
{% endblock %}

{% block main %}

<div class="main items-center justify-center">
<!--The div contain the two input -->
  <div class="flex items-center justify-center">
    <form class="w-full max-w-sm border-solid items-center justify-center">
      <div class="border-solid flex items-center border-b border-teal-500 py-2">
        <input class=" bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
          type="text" placeholder="Jane Doe" aria-label="Full name">
        <button
          class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
          type="button">
          Envoyez
        </button>
        

      </div>

    </form>

    <p class=></p>
  </div>

  <div class="py-10 flex items-center justify-center">
    <form class="w-full max-w-sm border-solid items-center justify-center">
      <div class="border-solid flex items-center border-b border-teal-500 py-2">
        <input
          class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
          type="file" placeholder="Jane Doe" aria-label="Full name">
        <button
          class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
          type="button">
          envoyez
        </button>
        

      </div>
    </form>
    <div class="resultat2 ml-10">
      <p class="ml-10"></p>
    </div>
  </div>
</div>


{% endblock %}

{% block footer %}

<footer
  class="pt-10 text-center">
    <div class="flex w-full justify-center items-center gap-4	p-2">
      <div class="flex flex-col justify-center items-center mb-6 lg:mb-0">
        <img
          src="/static/images/avatar1.jpg"
          class="rounded-md shadow-lg avatar" />
          <span class="text-black">Anton</span>
      </div>
      <div class="flex flex-col justify-center items-center mb-6 lg:mb-0">
        <img
          src="/static/images/avatar2.jpg"
          class="rounded-md shadow-lg avatar" />
          <span class="text-black">Jonathan</span>
      </div>
      <div class="flex flex-col justify-center items-center mb-6 lg:mb-0">
        <img
          src="/static/images/avatar3.png"
          class="rounded-md shadow-lg avatar" />
          <span class="text-black">Ahmed</span>
      </div>
      <div class="flex flex-col justify-center items-center mb-6 lg:mb-0">
        <img
          src="/static/images/avatar4.png"
          class="rounded-md shadow-lg avatar" />
          <span class="text-black">Guillaume</span>
      </div>
      <div class="flex flex-col justify-center items-center mb-6 lg:mb-0">
        <img
          src="/static/images/avatar5.png"
          class="rounded-md shadow-lg avatar" />
          <span class="text-black">Luca</span>
      </div>
      <div class="flex flex-col justify-center items-center mb-6 lg:mb-0">
        <img
          src="/static/images/avatar6.png"
          class="rounded-md shadow-lg avatar" />
          <span class="text-black">Charlotte</span>
      </div>
      <div class="flex flex-col justify-center items-center mb-6 lg:mb-0">
        <img
          src="/static/images/avatar7.png"
          class="rounded-md shadow-lg avatar" />
          <span class="text-black">Sofian</span>
      </div>
      <div class="flex flex-col justify-center items-center mb-6 lg:mb-0">
        <img
          src="/static/images/avatar8.png"
          class="rounded-md shadow-lg avatar" />
          <span class="text-black">Rania</span>
      </div>
  </div>

  <div class="flex justify-center text-black">
  <span>© 2023 Copyright KIT GAME | Equipe 7 (KONOHA)</span>
    
  </div>
</footer>
{% endblock %}
{% endblock %}