{% extends "base.html.j2" %}

{% block header %}
<div>
    <p>
        This is header
    </p>
</div>
{% endblock %}

{% block main %}
<div>
    <p>
        This is main
    </p>
</div>
{% endblock %}

{% block footer %}
<div>
    <p>
        This is footer
    </p>
</div>
{% endblock %}